*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: black;
    color: white; 
    display: flex;  
    justify-content: space-around; 
    align-items: center;
    padding: 24px 0;
}
.cabecalho-imagem {
    width: 10%;
}

.cabecalho-lista-imagem{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.Booksworld-imagem{
    width: 25%;
    margin:0 16px;
}

.Booksworld{
    background-image: linear-gradient(black, white);
    color: white;
    display: flex;
    justify-content: center;
}


.Booksworld-div-conteudo{
    width: 35%;
}

.Booksworld-titulo{
    padding: 24px 0;
}